In [ ]:
import pandas as pd

listdf_so1sky = pd.read_html('./inbox/1840017534_sales_order-20250516.xls', skiprows=4, header=0)
df_so1sky = listdf_so1sky[0].ffill()
df_so1sky

/tmp/ipykernel_37777/3073721269.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_so1sky = listdf_so1sky[0].fillna(method='ffill')

,TANGGAL,JAM,NOMOR,ORDER ID,CUST ID,CUSTOMER,ALAMAT,SALESMAN ID,SALESMAN,PRODUK ID,PRODUK,QTY,HARGA,DISKON 1,DISKON 2,AMOUNT,NO FAKTUR,TGL FAKTUR,REASON,NO FAKTUR 2
0,05/01/2025,08:39,1.0,17181359,SMCP-BJM11178,KIOS SUPIAN,"JL, PULAU LAUT NO,16 SEBERANG SALON DINDA",SMBM0023,ABDUSSALAM,BJFTEBC3506,FTE BC 350 ML K12 SHRINK - PCS,6,3500,0,0,21000,NaN,NaN,NaN,NaN
1,05/01/2025,08:39,1.0,17181359,SMCP-BJM11178,KIOS SUPIAN,"JL, PULAU LAUT NO,16 SEBERANG SALON DINDA",SMBM0023,ABDUSSALAM,BJTSE500001,TSE 500 ML K24,1,145000,0,0,145000,NaN,NaN,NaN,NaN
2,05/01/2025,08:39,1.0,17181359,SMCP-BJM11178,KIOS SUPIAN,"JL, PULAU LAUT NO,16 SEBERANG SALON DINDA",SMBM0023,ABDUSSALAM,BJFTEFR3506,FTE FR 350 ML K12 SHRINK - PCS,6,3500,0,0,21000,NaN,NaN,NaN,NaN
3,05/01/2025,08:39,1.0,17181359,SMCP-BJM11178,KIOS SUPIAN,"JL, PULAU LAUT NO,16 SEBERANG SALON DINDA",SMBM0023,ABDUSSALAM,BJFTESB3506,FTE SB 350 ML K12 SHRINK - PCS,6,3500,0,0,21000,NaN,NaN,NaN,NaN
4,05/01/2025,08:39,1.0,17181359,SMCP-BJM11178,KIOS SUPIAN,"JL, PULAU LAUT NO,16 SEBERANG SALON DINDA",SMBM0023,ABDUSSALAM,BJPAB600001,PAB 600 ML K24,10,41000,0,0,410000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,05/10/2025,12:46,6.0,17296790,SMCP-RMK1509,SONIC CHICKEN - SEI LULUT,SUNGAI LULUT,SMBM0038,SUPIAN,BJTBS220001,TBS 220 ML,2,52000,0,0,104000,NaN,NaN,NaN,NaN
231,05/10/2025,12:51,7.0,17296912,SMCP-ROC1036,ROCKET CHICKEN - VETERAN,VETERAN,SMBM0038,SUPIAN,BJTBS220001,TBS 220 ML,6,52000,0,0,312000,NaN,NaN,NaN,NaN
232,05/10/2025,12:51,7.0,17296912,SMCP-ROC1036,ROCKET CHICKEN - VETERAN,VETERAN,SMBM0038,SUPIAN,BJPAB600001,PAB 600 ML K24,5,41000,0,0,205000,NaN,NaN,NaN,NaN
233,05/10/2025,12:51,7.0,17296912,SMCP-ROC1036,ROCKET CHICKEN - VETERAN,VETERAN,SMBM0038,SUPIAN,BJSTK200005,STK 200 ML K24 ROCKET CHICKEN,5,38000,0,0,190000,NaN,NaN,NaN,NaN
234,05/12/2025,07:55,1.0,17302817,SMCP-RMK1454,"RM, LONTONG ORARI","JL, SIMPANG SEI MESA NO,80",SMBM0038,SUPIAN,BJPAB600001,PAB 600 ML K24,10,41000,0,0,410000,NaN,NaN,NaN,NaN

In [21]:
df_template = pd.read_table('./template/exportmotasates.txt')
df_template

list_template = df_template.to_dict('records')

print(list_template)

[]

In [26]:
import json

file01 = open("./template/01.json")
json01 = json.loads(file01.read())

print(f"Singkatan: {json01['singkatan']}")

Singkatan: SMCP-

In [27]:
df_conv = pd.read_json('./template/02.json')
df_conv.set_index("kode", inplace=True)
df_conv

,nama,satuan,isi,kodedist
kode,,,,
A0000425-1,- ACC - BERGAMOT TEA (1 BOS = 1 PCS),BOS,24,
A0000065-1,- ACC - BOP (1 BOS = 1 PCS),BOS,1,
A0000065-0,- ACC - BOP (1 KRG =40 BOS),KRG,40,
A0000415-1,- ACC - CALMING LEMONGRASS TEA (1 BOS = 1 PCS),BOS,24,
A0000444-0,- ACC - CHAI TEA (1 BAL = 10 BOS),BAL,100,
...,...,...,...,...
A0000042-0,TSS - SOSRO SEDUH 40 GR (1 BAL = 10 BOS),BAL,100,
A0000042-1,TSS - SOSRO SEDUH 40 GR (1 BOS = 10 PCS ),BOS,1,
A0000042-3,TSS - SOSRO SEDUH 40 GR (1 PCS ),PCS,24,
A0000385-1,TSS100GRRMP - SOSRO SEDUH 100 GR RMP (1 BOS = ...,BOS,24,
A0000386-1,TSS1KGRMP - SOSRO SEDUH 1 KG RMP (1 BOS = 1 PCS),BOS,24,

In [31]:
for index, row in df_so1sky.iterrows():
    # df_data = df_conv[ df_conv['kode'] == row["KD PRODUK"] ]
    
    # df_conv._get_value(row["KD PRODUK"], "kodedist")
    # print(type(row["QTY"]*df_conv._get_value(row["KD PRODUK"], "isi")))
    try:
        if (row["PRODUK ID"] == df_so1sky.iat[index-1, 8]) and (row["AMOUNT"] == 0):
            list_template[len(list_template)-1]["QtyFreeGood"] = row["QTY"] * df_conv.at[row["PRODUK ID"], "isi"]
        else:
            dict_item = {
                    "Nd6tran": "ND6TRAN",
                    "SalesInvoice": "salesinvoice",
                    "Attribute": "value",
                    "SalesmanId": row["SALESMAN ID"],
                    # "SalesOrderNumber": row["ORDER ID"].replace("'", ""),
                    "SalesOrderNumber": row["ORDER ID"],
                    "SalesOrderDate": row["TANGGAL"].replace("-", "/"),
                    # "InvoiceNumber": row["NOMOR"].replace("'", ""),
                    "InvoiceNumber": row["ORDER ID"],
                    "InvoiceDate": row["TANGGAL"].replace("-", "/"),
                    "Term": 0,
                    "SoldToCustomerId": row["CUST ID"].replace(json01['singkatan'], ""),
                    "SentToCustomerId": row["CUST ID"].replace(json01['singkatan'], ""),
                    "InvoicedToCustomerId": row["CUST ID"].replace(json01['singkatan'], ""),
                    "CustomerPo": "",
                    "SellingType": "TO",
                    "DocumentType": "",
                    "CashPayment": 0,
                    "GiroPayment": 0,
                    "GiroNumber": "",
                    "GiroBank": "",
                    "GiroDue": "",
                    "AdjustmentAmount": 0,
                    "Discount1": row["DISKON 1"],
                    "Discount2": row["DISKON 2"],
                    "Discount3": 0,
                    "Tax1": 11,
                    "Tax2": 0,
                    "Tax3": 0,
                    # "ProductCode": row["KD PRODUK"],
                    "ProductCode": df_conv.at[row["PRODUK ID"], "kodedist"],
                    "ProductVarianCode": "-",
                    "QtySold": (row["QTY"] * df_conv.at[row["PRODUK ID"], "isi"]),
                    # "QtySold": (row["QTY"]),
                    "QtyFreeGood": 0,
                    "SellingPrice": row["AMOUNT"],
                    "LineDiscount1": 0,
                    "LineDiscount2": 0,
                    "LineDiscount3": 0,
                    "LineDiscount4": 0,
                    "LineDiscount5": 0,
                    "CompanyId": "NS6022050001143",
                    "BranchId": "1480910000000",
                    "DivisionId": "1481610000000",
                    "WarehouseId": "alokasi",
                    "ManualPonumber": ""
                }
            # print(dict_item)
            list_template.append(dict_item)
            print(row["CUST ID"].replace(json01['singkatan'], ""))
    except KeyError:
        print(f"{row['PRODUK ID']} tidak ditemukan di master harga...!")

# print(list_template)

BJM11178
BJM11178
BJM11178
BJM11178
BJM11178
BJM11178
BJM11178
BJM11178
KTN1157
KTN1157
RMK1283
RMK1283
BMB11247
MML1053
ROC1020
BJB1526
BMB1008
MML1063
MML1063
MML1063
MML1063
MML1063
MML1063
MML1063
MML1063
RMK1595
RMK1595
RMK1595
RMK1595
RMK1595
RMK1602
RMK1602
RMK1460
RMK1460
RMK1460
ROC1044
ROC1044
ROC1044
KLD1011
BJTBE350001 tidak ditemukan di master harga...!
KLD1011
KLD1011
ROC1030
ROC1030
CAF1035
CAF1035
OLR1018
PTT1133
PTT1133
PTT1133
PTT1133
SLN1017
SLN1017
SLN1017
RMK1578
BJM1673
BJM1673
BJM2038
OTO1036
OTH1130
OTH1130
OTH1130
ROC1011
ROC1011
ROC1011
ROC1011
ROC1011
MTP2077
MTP2077
MTP2077
MTP2077
MTP2077
MTP2077
MTP2077
ROC1051
ROC1051
ROC1051
ROC1051
ROC1026
KTN1120
KTN1120
BJM1229
BJM1229
BJM1229
BJM1229
BJM1229
BJM1229
BJM1229
BJM1229
MED1025
OTH1096
OTH1096
OTH1096
OTH1096
OTH1096
OTH1096
RMK1323
RMK1323
RMK1323
HTL1006
ROC1012
ROC1012
ROC1012
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
BJB1291
RMK1134
BJB1390
BJB1390
BJB1390
BJB1390
BJB1390
BJB1390
BJB1390
BJB1390
ALK1099
ALK1099
ALK1099
ALK1099
ALK1099
ALK1099
ALK1092
ALK1092
BJTBE350001 tidak ditemukan di master harga...!
ALK1092
ALK1103
ALK1103
ALK1103
ALK2023
ALK2023
KOP1102
ROC1010
ROC1061
ROC1061
ROC1061
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1042
MML1017
MML1017
MML1017
MML1017
MML1017
MML1017
MML1048
MML1048
MML1048
MML1048
MML1048
MML1048
MML1048
MML1048
ALK1059
ALK1059
ALK1059
ALK1059
ALK1059
ALK1059
ALK1059
ALK1059
ALK1054
ALK1054
ALK1054
OTH1102
BJM1471
BJM1692
BJM1692
BJM1692
OTH1052
BJM11208
BJM11208
BJM11208
TK1054
TK1054
TK1054
TK1054
TK1054
TK1054
TK1054
PSM1020
PSM1020
PSM1021
PSM1021
PSM1021
BJTBE350001 tidak ditemukan di master harga...!
BJTBE350001 tidak ditemukan di master harga...!
KOP1057
BJTBE350001 tidak ditemukan di master harga...!
KOP1057
KOP1057
CAF1032
KTN1130
OTH1036
OTH1036
BJM1452
BKS1017
BJM1542
BMB1008
BMB1008
BMB1008
BMB1008
BMB1008
BMB11247
BYD1020
RMK1302
RMK1302
RMK1302
RMK1302
RMK1302
RMK1302
RMK1509
RMK1509
RMK1509
ROC1036
ROC1036
ROC1036
RMK1454

In [32]:
df_export = pd.DataFrame.from_records(list_template)

df_export

df_export.to_csv('./outbox/test.txt', sep="\t", index=False)